.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-image-1 {
  height: 564px;
  margin-top: 0;
  margin-bottom: 18px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-image-1 {
    height: 393px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-2 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-3 {
  font-size: 0.5556em;
  background-image: none;
}

.u-section-2 .u-icon-4 {
  font-size: 0.5556em;
  background-image: none;
}

.u-section-2 .u-icon-5 {
  font-size: 0.5556em;
  background-image: none;
}

.u-section-2 .u-icon-6 {
  font-size: 0.5556em;
  background-image: none;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 436px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 283px;
  object-position: 47.62% 50%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 2px;
}

.u-section-2 .u-icon-7 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-8 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-9 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-10 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-11 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-icon-12 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  width: 283px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-2 .u-text-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 226px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 788px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 9px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-1 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-icon-2 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-icon-4 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-icon-5 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-icon-6 {
  font-size: 0.5556em;
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 14px;
  background-image: none;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 284px;
  height: 284px;
  margin: 35px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 349px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 9px;
}

.u-section-3 .u-icon-7 {
  font-size: 0.5em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-icon-8 {
  font-size: 0.5em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-icon-9 {
  font-size: 0.5em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-icon-10 {
  font-size: 0.5em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-icon-11 {
  font-size: 0.5em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-icon-12 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 349px;
}

.u-section-3 .u-container-layout-4 {
  padding: 6px 30px;
}

.u-section-3 .u-image-2 {
  width: 284px;
  height: 284px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 332px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-text-1 {
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 384px;
  }

  .u-section-3 .u-text-2 {
    transition-duration: 0.5s;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 209px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-4 .u-container-layout-1 {
  padding: 28px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 10px;
  height: 14px;
  background-image: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.5556em;
}

.u-section-4 .u-icon-2 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-3 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-4 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-5 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-6 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 282px;
  height: 282px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-icon-7 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-8 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-9 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-10 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-11 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-icon-12 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 344px;
}

.u-section-4 .u-container-layout-4 {
  padding: 17px 30px;
}

.u-section-4 .u-image-2 {
  width: 282px;
  height: 282px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 206px;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-icon-1 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-2 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-3 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-4 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-5 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-6 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 344px;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-5 .u-image-1 {
  width: 283px;
  height: 283px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-icon-7 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-8 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-9 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-10 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-11 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-icon-12 {
  font-size: 0.5556em;
  width: 10px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 344px;
}

.u-section-5 .u-container-layout-4 {
  padding: 16px 30px;
}

.u-section-5 .u-image-2 {
  width: 283px;
  height: 283px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 327px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 206px;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before,
.u-section-5 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before,
.u-section-5 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}